.ugbtnclass1
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #000000 1px solid;
    CURSOR: hand;
    COLOR: #000000;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.ugbtnclass
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #000000 1px solid;
    CURSOR: hand;
    COLOR: white;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: firebrick
}
.clsnote1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 16px;
    MARGIN: 0px;
    COLOR: red;
    FONT-FAMILY: Tahoma,Verdana,Verdana;
    BACKGROUND-COLOR: #efefef
}
.clsnote1red
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    COLOR: red;
    FONT-FAMILY: Tahoma,Verdana,Verdana;
    BACKGROUND-COLOR: #efefef
}
.clslabel
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    COLOR: #000000;
    FONT-FAMILY: Tahoma,Verdana,Verdana;
    BACKGROUND-COLOR: #dddddd
}
.clslabelred
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    COLOR: red;
    FONT-FAMILY: Tahoma,Verdana,Verdana;
    BACKGROUND-COLOR: #dddddd
}
.clslabel1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 16px;
    MARGIN: 0px;
    COLOR: red;
    FONT-FAMILY: Tahoma,Verdana,Verdana;
    BACKGROUND-COLOR: #efefef
}
.clslabel1red
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    COLOR: red;
    FONT-FAMILY: Tahoma,Verdana,Verdana;
    BACKGROUND-COLOR: #efefef
}
.clsnote1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 16px;
    MARGIN: 0px;
    COLOR: red;
    FONT-FAMILY: Tahoma,Verdana,Verdana;
    BACKGROUND-COLOR: #efefef
}
.clsnote1red
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    COLOR: red;
    FONT-FAMILY: Tahoma,Verdana,Verdana;
    BACKGROUND-COLOR: #efefef
}
TD
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Geneva, sans-serif;
    TEXT-DECORATION: none
}
.yellowbg
{
    BACKGROUND-IMAGE: url(https://visarev.com/Images/yelbg.gif);
    WIDTH: 1px;
    HEIGHT: 48px
}
.bluebgbg
{
    BACKGROUND-IMAGE: url(https://visarev.com/Images/bluebg.gif);
    WIDTH: 1px;
    HEIGHT: 48px
}
.tablink
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 11px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.tablink:hover
{
    FONT-SIZE: 11px;
    COLOR: red;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
#passwordStrength
{
    DISPLAY: block;
    FLOAT: left;
    HEIGHT: 10px
}
.strength0
{
    BACKGROUND: #cccccc;
    WIDTH: 250px
}
.strength1
{
    BACKGROUND: #ff0000;
    WIDTH: 50px
}
.strength2
{
    BACKGROUND: #ff5f5f;
    WIDTH: 100px
}
.strength3
{
    BACKGROUND: #56e500;
    WIDTH: 150px
}
.strength4
{
    BACKGROUND: #4dcd00;
    WIDTH: 200px
}
.strength5
{
    BACKGROUND: #399800;
    WIDTH: 250px
}
.LeftTd
{
    BACKGROUND-POSITION: right 50%;
    BACKGROUND-IMAGE: url(https://visarev.com/images/left_back.jpg);
    BACKGROUND-REPEAT: repeat-y
}
.RightTd
{
    BACKGROUND-IMAGE: url(https://visarev.com/images/right_back.jpg);
    BACKGROUND-REPEAT: repeat-y
}
HR
{
    COLOR: #cccccc;
    HEIGHT: 1px
}
.default_alertWindow
{
    BORDER-RIGHT: #000000 2px solid;
    BORDER-TOP: #000000 2px solid;
    BORDER-LEFT: #000000 2px solid;
    BORDER-BOTTOM: #000000 2px solid
}
.default_titleBar
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    BACKGROUND: #336699;
    PADDING-BOTTOM: 5px;
    FONT: 10px/16px Arial;
    COLOR: #ffffff;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 1px solid
}
.default_titleBarLeftIcon
{
    BACKGROUND: url(https://visarev.com/Include/information.png) no-repeat;
    WIDTH: 16px;
    HEIGHT: 16px
}
.default_titleBarRightIcon
{
}
.default_contentArea
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    BACKGROUND: #e7ebef;
    PADDING-BOTTOM: 5px;
    FONT: 14px Arial;
    OVERFLOW: auto;
    COLOR: #000000;
    PADDING-TOP: 5px
}
.default_buttonArea
{
    BACKGROUND: #e7ebef;
    PADDING-BOTTOM: 5px;
    TEXT-ALIGN: right
}
.default_okButton
{
    PADDING-LEFT: 15px;
    BACKGROUND: url(https://visarev.com/Include/accept.png) no-repeat left center;
    MARGIN-RIGHT: 5px;
    HEIGHT: 35px
}
.default_cancelButton
{
    PADDING-LEFT: 15px;
    BACKGROUND: url(https://visarev.com/Include/cancel.png) no-repeat left center;
    MARGIN-RIGHT: 5px;
    HEIGHT: 35px
}
.hlinks
{
    FONT-WEIGHT: normal;
    COLOR: black;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.hlinksover
{
    FONT-WEIGHT: normal;
    CURSOR: hand;
    COLOR: #ff5d2b;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.inputclasscomp
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    MARGIN: 0px;
    OVERFLOW: hidden;
    BORDER-LEFT: #999999 1px solid;
    WIDTH: 200px;
    COLOR: #336600;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #cfe4ff
}
.inputclassdis
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-SIZE: 12px;
    OVERFLOW: hidden;
    BORDER-LEFT: #999999 1px solid;
    WIDTH: 200px;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #dcdcdc
}
.inputclass
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT-SIZE: 12px;
    OVERFLOW: hidden;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 200px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #f9f8f5
}
.inputclassmask
{
    BORDER-RIGHT: #afc2cc 1px;
    BORDER-TOP: #afc2cc 1px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    OVERFLOW: hidden;
    BORDER-LEFT: #afc2cc 1px;
    WIDTH: 200px;
    BORDER-BOTTOM: #afc2cc 1px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #fff5cd
}
.lhead
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: small;
    WIDTH: auto;
    COLOR: white;
    FONT-FAMILY: 'Arial';
    HEIGHT: 18px
}
.lover
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: Arial, Geneva, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f0f0f0
}
.label
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11px;
    WIDTH: auto;
    COLOR: white;
    FONT-FAMILY: Arial, Geneva, Arial, Helvetica, sans-serif;
    HEIGHT: 18px
}
.btnclass1
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #000000 1px solid;
    WIDTH: 50pt;
    CURSOR: hand;
    COLOR: black;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial, Geneva, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #00acff
}
.btnclass
{
	font-size:12px;
	padding: 5px 10px;
     display: inline;
     background: #FF4942 url(../image/button.png) repeat-x bottom;
     border: none;
     color: #fff;
     cursor: pointer;
     font-weight: bold;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     text-shadow: 1px 1px #666;
}
.btnclass:hover { /* the redundant class is used to apply the hover state with a script */
	background-position: 0 center; 
}

.btnclassleft
{
    BORDER-RIGHT: #996600 0px solid;
    BORDER-TOP: #996600 0px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    BORDER-LEFT: #996600 0px solid;
    WIDTH: 50pt;
    CURSOR: hand;
    COLOR: red;
    BORDER-BOTTOM: #996600 0px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.header
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 16px;
    COLOR: white;
    FONT-FAMILY: Arial, Geneva, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #1477b8;
    TEXT-DECORATION: none
}
.mesg
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    COLOR: green;
    FONT-FAMILY: Arial
}
.subheader
{
    BORDER-TOP: tan 1px solid;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 13px;
    COLOR: white;
    BORDER-BOTTOM: tan 1px solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #bbbbbb
}
.subheaderrev
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 16px;
    COLOR: black;
    BORDER-BOTTOM: #1c5b94 1px solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #dcdcdc
}
.subheaderlabel
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11px;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #67a9c6
}
.clsTable
{
    BORDER-RIGHT: silver 3px solid;
    BORDER-TOP: #1477b8 3px;
    FONT-SIZE: 11px;
    BORDER-LEFT: silver 3px solid;
    BORDER-BOTTOM: silver 3px solid;
    FONT-FAMILY: Arial
}
.clsTable2
{
    BORDER-RIGHT: 1px;
    PADDING-RIGHT: 6px;
    BORDER-TOP: black 1px solid;
    PADDING-LEFT: 6px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 6px;
    BORDER-LEFT: 1px;
    PADDING-TOP: 6px;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #cccccc
}
.invTable
{
    BORDER-RIGHT: #1c5b94 0px;
    BORDER-TOP: darkgray 2px dashed;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10px;
    BORDER-LEFT: 0px;
    COLOR: black;
    BORDER-BOTTOM: darkgray 2px dashed;
    FONT-FAMILY: Arial
}
.lout
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff
}
.loutred
{
    FONT-SIZE: 11px;
    COLOR: red;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff
}
.mesgred
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: red;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.labelred
{
    FONT-SIZE: 11px;
    COLOR: red;
    FONT-FAMILY: Arial, Geneva, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #e6e6e6
}
.labeltext
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Arial, Geneva, Arial, Helvetica, sans-serif
}
.clsTable1
{
    BORDER-RIGHT: silver 3px solid;
    BORDER-TOP: gray 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: silver 3px solid;
    COLOR: blue;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial
}
.clsbg
{
    BACKGROUND-COLOR: #ffffff
}
.mesggreen
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: #336699;
    FONT-FAMILY: Arial
}
.message
{
    BORDER-RIGHT: #ccc 0px solid;
    BORDER-TOP: #ccc 0px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #ccc 0px solid;
    COLOR: #ffffff;
    BORDER-BOTTOM: #ccc 0px solid;
    FONT-FAMILY: Arial, sans-serif
}
.bgcolor
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: medium;
    COLOR: white;
    FONT-FAMILY: 'Arial';
    BACKGROUND-COLOR: #efefef
}
.mainleft
{
    FONT-SIZE: 12px;
    COLOR: yellow;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #184d7b;
    TEXT-ALIGN: center
}
.mainleft1
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #efefef;
    TEXT-ALIGN: left
}
.mainleft1red
{
    FONT-SIZE: 12px;
    COLOR: red;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #efefef
}
.mainleftred
{
    FONT-SIZE: 12px;
    COLOR: red;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #f4f4ee
}
.maincenter
{
    FONT-SIZE: 11px;
    COLOR: black;
    FONT-FAMILY: Arial, Geneva, Arial, Helvetica, sans-serif
}
.maincenterred
{
    FONT-SIZE: 11px;
    COLOR: red;
    FONT-FAMILY: Arial, Geneva, Arial, Helvetica, sans-serif
}
.subbgcolor
{
    BORDER-TOP: black 1px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 16px;
    COLOR: black;
    BORDER-BOTTOM: silver 1px;
    FONT-FAMILY: 'Arial Narrow';
    BACKGROUND-COLOR: gold
}
.hlink
{
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.hlinkover
{
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: yellow;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
.labelbold
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11px;
    COLOR: white;
    FONT-FAMILY: Arial
}
.labelboldred
{
    BORDER-TOP: #666666 1px solid;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #aec1da
}
.aligncenter
{
    TEXT-ALIGN: center
}
.bgcolorheader
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #edffd7
}
.bgcolorheaderbv
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    COLOR: gold;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #333333
}
.signhead
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    COLOR: black;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #dcdcdc
}
.bgimage
{
    BACKGROUND-IMAGE: url(https://visarev.com/Images/strategic.gif);
    BACKGROUND-REPEAT: no-repeat;
    TEXT-ALIGN: center
}
.invhead
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    COLOR: black;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: silver
}
.invhead1
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Arial
}
.invaddress
{
    PADDING-LEFT: 5px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 11px;
    COLOR: black;
    LINE-HEIGHT: 15px;
    FONT-FAMILY: Arial
}
.invbottomright
{
    BORDER-RIGHT: lightgrey 1px solid;
    BORDER-TOP: lightgrey 1px solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10px;
    BORDER-LEFT: lightgrey 1px solid;
    COLOR: black;
    BORDER-BOTTOM: lightgrey 1px solid;
    FONT-FAMILY: Arial
}
.invright
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10px;
    BORDER-LEFT: lightgrey 1px solid;
    COLOR: black;
    BORDER-BOTTOM: lightgrey 1px solid;
    FONT-FAMILY: Arial
}
.invbottom
{
    BORDER-RIGHT: lightgrey 1px solid;
    BORDER-TOP: lightgrey 1px solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10px;
    COLOR: black;
    BORDER-BOTTOM: lightgrey 1px solid;
    FONT-FAMILY: Arial
}
.invlast
{
    BORDER-RIGHT: lightgrey 1px solid;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10px;
    COLOR: black;
    BORDER-BOTTOM: lightgrey 1px solid;
    FONT-FAMILY: Arial
}
.invtotal
{
    BORDER-RIGHT: #1c5b94 0px;
    BORDER-TOP: #1c5b94 0px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10px;
    BORDER-LEFT: 0px;
    COLOR: black;
    BORDER-BOTTOM: darkgray 2px dashed;
    FONT-FAMILY: Arial
}
.clshead
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 20px;
    COLOR: black;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: underline
}
.clstext
{
    FONT-SIZE: 20px;
    COLOR: black;
    FONT-STYLE: italic;
    FONT-FAMILY: 'Lucida Bright'
}
.invtext
{
    FONT-SIZE: 11px;
    COLOR: black;
    FONT-FAMILY: Arial
}
BODY
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    HEIGHT: 100%;
    BACKGROUND-COLOR: #ffffff
}
.cls800
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 11px;
    COLOR: black;
    FONT-FAMILY: Arial
}
.clsnote
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #dddddd
}
.clsnotered
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: red;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #dddddd
}
.cls1
{
    BORDER-RIGHT: #000000 1px solid;
    BACKGROUND-COLOR: white
}
.cls2
{
    BACKGROUND-IMAGE: url(https://visarev.com/Images/bar.jpg)
}
.cls4
{
    BACKGROUND-IMAGE: url(https://visarev.com/Images/bar.jpg)
}
.cls3
{
    BORDER-LEFT: #000000 1px solid;
    BACKGROUND-COLOR: white
}
.mainleft2
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffcc;
    TEXT-ALIGN: left
}
.mainleft2red
{
    FONT-SIZE: 12px;
    COLOR: red;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffcc
}
.clsmain
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #fbefc2;
    TEXT-ALIGN: left
}
.clscontent
{
    FONT-SIZE: 14px;
    COLOR: darkblue;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffcc;
    TEXT-ALIGN: left
}
.clstab
{
    BORDER-RIGHT: #ffffcc 1px solid;
    BORDER-TOP: #ffffcc 1px solid;
    BORDER-LEFT: #ffffcc 1px solid;
    BORDER-BOTTOM: #ffffcc 1px solid;
    BACKGROUND-COLOR: #dcdcdc
}
.tbhead
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #333333
}
.tblbg
{
    BACKGROUND-COLOR: transparent
}
.toplink
{
    FONT-SIZE: 11px;
    COLOR: white;
    FONT-FAMILY: 'Microsoft Sans Serif';
    TEXT-DECORATION: none
}
.toplinkover
{
    FONT-SIZE: 11px;
    CURSOR: hand;
    COLOR: yellow;
    FONT-FAMILY: 'Microsoft Sans Serif';
    TEXT-DECORATION: underline
}
.clsline
{
    FONT-SIZE: 11px;
    COLOR: yellow;
    FONT-FAMILY: Tahoma
}
.subheader1
{
    BORDER-TOP: silver 1px solid;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    COLOR: black;
    FONT-FAMILY: Arial;
    HEIGHT: 25px;
    BACKGROUND-COLOR: #dcdcdc
}
.subheader2
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    COLOR: black;
    BORDER-BOTTOM: #333333 1px;
    FONT-FAMILY: Arial;
    HEIGHT: 25px;
    BACKGROUND-COLOR: #efefef
}
.gridlink
{
    FONT-SIZE: 11px;
    COLOR: red;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
.gridlinkover
{
    FONT-SIZE: 11px;
    CURSOR: hand;
    COLOR: blue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
.clsnote1
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #efefef
}
.clsnote1red
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: red;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #efefef
}
.clstable4
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid
}
.clshr
{
    COLOR: orange;
    HEIGHT: 1px
}
.clstd20
{
    BORDER-BOTTOM: gold 1px solid;
    HEIGHT: 22px
}
.clstd21
{
    BORDER-BOTTOM: gold 1px solid;
    HEIGHT: 22px
}
.clshr1
{
    COLOR: black;
    HEIGHT: 1px;
    BACKGROUND-COLOR: #edffd7
}
.clsheader
{
    FONT-SIZE: 12px;
    COLOR: brown;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #1477b8
}
.clshigh
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 13px;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #dcdcdc
}
.clsbv
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #778899
}
.clsbv1
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 13px;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #778899
}
.clshomehead
{
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #1477b8
}
.clsline1
{
    BORDER-TOP: black 1px solid
}
HTML
{
    HEIGHT: 100%
}
.clspay
{
    BORDER-RIGHT: #8bb8ff 1px solid;
    BORDER-TOP: #8bb8ff 1px solid;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    BORDER-LEFT: #8bb8ff 1px solid;
    COLOR: midnightblue;
    BORDER-BOTTOM: #8bb8ff 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 25px;
    BACKGROUND-COLOR: #ccccff
}
.clspayred
{
    BORDER-RIGHT: #8bb8ff 1px solid;
    BORDER-TOP: #8bb8ff 1px solid;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    BORDER-LEFT: #8bb8ff 1px solid;
    COLOR: red;
    BORDER-BOTTOM: #8bb8ff 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 25px;
    BACKGROUND-COLOR: #ccccff
}
.subhead
{
    FONT-SIZE: 12px;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: silver
}
.clscaptcha
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    BACKGROUND-IMAGE: url(Image000.jpg);
    VERTICAL-ALIGN: middle;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Monotype Corsiva;
    LETTER-SPACING: 3px;
    BACKGROUND-COLOR: #efefef;
    TEXT-ALIGN: center
}
.clsreceiptbg
{
    BACKGROUND-IMAGE: url(https://visarev.com/images/receiptbg.jpg);
    BACKGROUND-REPEAT: repeat-y
}
.clsreceipt
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Arial
}
.clsborder
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-BOTTOM: #999999 1px solid
}
.clsborder1
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px;
    BORDER-LEFT: #999999 1px solid;
    BORDER-BOTTOM: #999999 1px
}
