.DataGrid_Table{width: 100%;font-family:verdana,arial;}
	.DataGrid_SearchRow_Title{font-weight: Bold; font-size: 12px; background-color: #0E5069; color: white; background-image: url(''); height: 20px; vertical-align: middle;}
	.DataGrid_SearchPanel_SubmitButton{text-align: right;}

	.DataGrid_Title_Table{width: 100%; background-color: #FFFFFF; color: #0C4F68;  height: 20px;}
		.DataGrid_Title_Row_Left{font-weight: Bold; vertical-align: middle;}
		.DataGrid_Title_Row_Right{text-align: Right; vertical-align: middle;}

	.DataGrid_ControlPanel_Row{text-align: center;}

	.DataGrid_GridTable{width: 100%; color: black;}
		.DataGrid_ColumnTitle_Row{background-color: #0C4B63; color: White; font-weight: Bold; text-align: left; background-image: url(''); height: 20px; vertical-align: middle;}
		.DataGrid_ColumnTitle_Row_Serial_Cell{width: 1px;}
		.DataGrid_ColumnTitle_Row_CheckBox_Cell{width: 1px;}
		.DataGrid_ColumnTitle_Link{color: White;}
		.DataGrid_ColumnTitle_Link:hover{color: Aqua;}
		.DataGrid_ColumnTitle_Row_Action_Cell{width: 56px;}

		.DataGrid_DataRow_Odd{background-color: White; vertical-align: middle;}
		.DataGrid_DataRow_Even{background-color: #5EB282; vertical-align: middle; color:#FFF;}
			.DataGrid_DataCell{padding: 2px;}
			    .DataGrid_Image{height: 48px;}
			.DataGrid_ActionCell{text-align: Right;}

		.DataGrid_FooterRow{background-color: white;  height: 8px;}