.ddsmoothmenu{
	float:right;
	padding-top:27px;
}



/*Top level list items*/
.ddsmoothmenu ul li{
	float:left;
	font-weight:bold;
	font-size:.786em;
	position: relative;

}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
	display: block;
	color: #e4de85;
	text-decoration: none;
}

.ddsmoothmenu ul li a span{
	display:block;
	padding:4px 26px 4px 26px;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
	color:#e4de85;
}



.ddsmoothmenu ul li a:hover, .ddsmoothmenu ul li a:active{
	background:url(../image/nav-act-.gif) no-repeat left top #0f556f;
}

.ddsmoothmenu ul li a:hover span, .ddsmoothmenu ul li a:active span{
	background:url(../image/nav-act0.gif) no-repeat right top;
	color: #e4de85;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
	position: absolute;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
	display: list-item;
	float: none;
	text-align:left;
	font-size:1em;
	position:relative;
	background:url(../image/dot.png) repeat;
	z-index:9999;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */


/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	width: 180px; /*width of sub menus*/
	margin: 0;
}

.ddsmoothmenu ul li ul li a span{
	color:#fff;
}

.ddsmoothmenu ul li ul li a:hover{
	color:#E4DD85;
	background:none;
	z-index:9999;
}

.ddsmoothmenu ul li ul li a:hover span{
	background:none;
	color:#e4de85;

}


/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 13px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
opacity: 0.8;
}