.DebugBackground	{background-color: Yellow;}

.DebugReservedWord	{color: Maroon; font-weight: Bold;}
.DebugIdentifier	{color: Orange; font-weight: Bold;}
.DebugVariable		{color: Red; font-weight: Bold;}
.DebugString		{color: Black;}
.DebugNumber		{color: Navy; font-weight: Bold;}
.DebugSymbol		{color: Blue; font-weight: Bold;}

.DebugVariableTypeRow{background-color: Orange; font-size: 12px; font-weight: bold; color: Navy;}
.DebugVariableNameCell{background-color: Navy; font-size: 10px; font-weight: bold; color: White;}
.DebugVariableValueCell{background-color: Silver; font-size: 10px; font-weight: bold;}
