body{font-family: Verdana, Tahoma, Arial; font-size: 12px; margin: 0px; text-align: center; xbackground-image: url("../image/body_background.gif"); }
table{font-family: Verdana, Tahoma, Arial; font-size: 12px; border-style: solid; border-width: 0px; border-color: red; padding: 0px;}
tr{vertical-align: top;}
td{border-style: solid; border-width: 0px; border-color: aqua; padding: 0px;}
img{border-style: solid; border-width: 0px; border-color: yellow;}
a{color: navy; text-decoration: none;}
a:hover{color: orange;}

input{background-image: url('../image/form_input_background.gif'); border-width: 1px; border-color: blue;}
textarea{font-family: Verdana, Tahoma, Arial; font-size: 12px; border-style: solid; border-width: 1px; border-color: #3f2a15; background-color: #F7F7FF; display: block; overflow: auto;}