.FormRowTitle{font-size: 12px; font-weight: Bold; text-align: center; background-color: white; color: Navy; background-image: url('../image/form/form_headerrow.gif'); height: 20px; vertical-align: middle;}
.FormRowSubTitle1{font-size: 12px; font-weight: Bold; text-align: Center; background-color: Navy; color: Navy; height: 20px; background-image: url('../image/form/form_subtitle_1.gif'); vertical-align: middle;}
.FormRowErrorMessage{font-size: 12px; text-align: Center; background-color: Red; color: Yellow; font-weight: Bold;}
.FormRowInputSection{font-weight: bold; text-align: Center; background-color: White; color: Navy; background-image: url('../image/form/form_inputsectionrow.gif'); height: 20px; vertical-align: middle;}
.FormRowField{vertical-align: top;}
.FormRowButton{text-align: right; background-color: Navy; background-image: url('../image/form/form_buttonrow.gif'); vertical-align: middle;}
.FormRowTip{font-size: 10px; background-color: Yellow; color: Navy;}

.FormTextNormal{font-size: 12px;}
.FormFieldRequired{color: Red;}
.FormFieldCaptionError{color: Red;}
.FormFieldSeperator{width: 30px;}

.FormInputReadOnly{ 
 border: #808080 1px solid; 
 color: #ACA899;}
.FormInputText{ background-image: url('../image/form/form_input_text.gif'); }
.FormInputPassword{background-image: url('../image/form/form_input_password.gif'); }
.FormInputButton{height: 21px; background-image: url('../image/form/form_input_button.gif'); color: navy; font-weight: Bold; border-style: Solid; border-color: black; border-width: 1px;}
.FormInputRadio{border-style: none; border-width: 0px;}
.FormTextInput{border-style: Solid; border-color: black; border-width: 1px;}

.Header{
background-color: #DFDFDF; 
padding: 3px; 
border: 1px gray solid; 
font-weight:bold;
}

span.title{
	color:#3300FF;
}

#formValidate label {  }
#formValidate label.error {color:#F00; }

#passwordStrength
{
	height:10px;
	display:block;
	float:left;
}

#passwordStrength2
{
	height:10px;
	display:block;
	float:left;
}

.strength0
{
	width:250px;
	background:#cccccc;
}

.strength1
{
	width:50px;
	background:#ff0000;
}

.strength2
{
	width:100px;	
	background:#ff5f5f;
}

.strength3
{
	width:150px;
	background:#56e500;
}

.strength4
{
	background:#4dcd00;
	width:200px;
}

.strength5
{
	background:#399800;
	width:250px;
}