/*======= index.html =======*/
#page1 #content .row-1 .col-1 {width:315px; margin-right:80px;}
#page1 #content .row-1 .col-2 { width:287px; margin-right:1px;}
#page1 #content .row-1 .col-3 { width:298px; margin-top:-38px; position:relative;}
#page1 #content .row-1 .col-4 {/*width:682px;*/ margin-right:1px;}
#page1 #content .row-3 .col-1 { width:292px; margin-right:102px;}
#page1 #content .row-3 .col-1 .col-1 { width:129px; margin-right:37px;}
#page1 #content .row-3 .col-1 .col-2 { width:126px;}
#page1 #content .row-3 .col-2 { width:585px;}
#page1 #content .row-3 .col-2 .col-1 { width:140px; margin-right:25px;}
#page1 #content .row-3 .col-2 .col-2 { width:76px; margin-right:39px;}
#page1 #content .row-3 .col-2 .col-3 { width:128px; margin-right:22px;}
#page1 #content .row-3 .col-2 .col-4 { width:155px;}

/*======= index-1.html =======*/
#page2 #content .row-1 .col-1 {width:682px; margin-right:1px;}
#page2 #content .row-1 .col-2 { width:298px; margin-top:-38px; position:relative;}
#page2 #content .row-3 .col-1 { width:497px; margin-right:72px;}
#page2 #content .row-3 .col-2 { width:410px;}
#page2 #content .row-3 .col-2 .col-1 { width:180px; margin-right:50px;}
#page2 #content .row-3 .col-2 .col-2 { width:180px;}

/*======= index-2.html =======*/
#page3 #content .row-1 .col-1 { width:287px; margin-right:82px;}
#page3 #content .row-1 .col-2 {width:611px;}
#page3 #content .row-1 .col-2 .col-1 { width:280px; margin-right:50px;}
#page3 #content .row-1 .col-2 .col-2 { width:280px;}
#page3 #content .row-2 .col-1 { width:603px; margin-right:75px;}
#page3 #content .row-2 .col-1 .col-1 { width:156px; margin-right:62px;}
#page3 #content .row-2 .col-1 .col-2 { width:156px; margin-right:62px;}
#page3 #content .row-2 .col-1 .col-3 { width:156px;}
#page3 #content .row-2 .col-2 { width:304px;}
#page3 #content .row-3 .col-1 { width:310px; margin-right:87px;}
#page3 #content .row-3 .col-2 { width:585px;}
#page3 #content .row-3 .col-2 .col-1 { width:102px; margin-right:55px;}
#page3 #content .row-3 .col-2 .col-2 { width:102px; margin-right:55px;}
#page3 #content .row-3 .col-2 .col-3 { width:102px; margin-right:55px;}
#page3 #content .row-3 .col-2 .col-4 { width:102px;}

/*======= index-3.html =======*/
#page4 #content .row-1 .col-1 {width:315px; margin-right:80px;}
#page4 #content .row-1 .col-2 { width:585px;}
#page4 #content .row-1 .col-2 .col-1 { width:264px; margin-right:50px;}
#page4 #content .row-1 .col-2 .col-2 { width:264px;}
#page4 #content .row-3 .col-1 { width:292px; margin-right:102px;}
#page4 #content .row-3 .col-1 .col-1 { width:129px; margin-right:37px;}
#page4 #content .row-3 .col-1 .col-2 { width:126px;}
#page4 #content .row-3 .col-2 { width:585px;}
#page4 #content .row-3 .col-2 .col-1 { width:140px; margin-right:25px;}
#page4 #content .row-3 .col-2 .col-2 { width:76px; margin-right:39px;}
#page4 #content .row-3 .col-2 .col-3 { width:128px; margin-right:22px;}
#page4 #content .row-3 .col-2 .col-4 { width:155px;}
/*#page4 #content .row-3 .col-1 { width:292px; margin-right:102px;}
#page4 #content .row-3 .col-1 .col-1 { width:129px; margin-right:37px;}
#page4 #content .row-3 .col-1 .col-2 { width:126px;}
#page4 #content .row-3 .col-2 { width:585px;}*/

/*======= index-4.html =======*/
#page5 #content .row-1 .col-1 {width:682px; margin-right:1px;}
#page5 #content .row-1 .col-2 { width:298px; margin-top:10px;margin-left:2px; position:relative;}
#page5 #content .row-2 .col-1 { width:594px; margin-right:72px;}
#page5 #content .row-2 .col-2 { width:307px;}
#page5 #content .row-2 .col-2 .col-1 { width:180px; margin-right:50px;}
#page5 #content .row-2 .col-2 .col-2 { width:180px;}

/*======= index-5.html =======*/
#page6 #content .row-1 .col-1 { width:315px; margin-right:51px;}
#page6 #content .row-1 .col-2 {width:612px;}
#page6 #content .row-2 .col-1 { width:603px; margin-right:75px;}
#page6 #content .row-2 .col-1 .col-1 { width:156px; margin-right:62px;}
#page6 #content .row-2 .col-1 .col-2 { width:156px; margin-right:62px;}
#page6 #content .row-2 .col-1 .col-3 { width:156px;}
#page6 #content .row-2 .col-2 { width:305px;}
#page6 #content .row-3 .col-1 { width:320px; margin-right:77px;}
#page6 #content .row-3 .col-2 { width:585px;}
#page6 #content .row-3 .col-2 .col-1 { width:102px; margin-right:55px;}
#page6 #content .row-3 .col-2 .col-2 { width:102px; margin-right:55px;}
#page6 #content .row-3 .col-2 .col-3 { width:102px; margin-right:55px;}
#page6 #content .row-3 .col-2 .col-4 { width:102px;}


/*=========================*/


