/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block; -webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html {width:100%;}

body { 	 
	font-family:Helvetica, sans-serif;
	font-size:100%; 
	color:#000;
	min-width:960px;
	background:#2b2729;
	/*border-top:4px solid #2b2729;*/
	margin:2px 0;
	text-align:center;
	
}
body#page1{min-width:960px;}

img {
border:0px;
}

.bg {width:100%; background:url(../image/bg-top.jpg) center 0 no-repeat;}

.main {
	width:960px; 	
	padding:0;
	margin:0 auto;
	font-size:0.8125em;
	line-height:1.3846em;
	position:relative;
	z-index:99;
	text-align:left;
}

a {color:#EC2022; outline:none; font-size:11px;}
a:hover {text-decoration:none;}

.clear {clear:both; width:100%; overflow:hidden; height:0;}

.col-1, .col-2, .col-3, .col-4 {float:left;}
.column-1, .column-2, .column-3 {float:left;}  

.wrapper {width:100%; overflow:hidden;}
.extra-wrap {overflow:hidden;}
 
.container {width:100%;}

p {margin:0px;}
.p1 {margin-bottom:8px; display:block;}
.p2 {margin-bottom:15px; display:block;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}
.p6 {margin-bottom:60px;}

.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

.color-1 {color:#fff;}
.color-2 {color:#000;}
.color-3 {color:#666;}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:35px;}
.spacing2 {margin-right:45px;}
.spacing3 {margin-right:60px;}

.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:35px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.img-box {float:left; margin-bottom:20px;}	

.prev-indent-bot {margin-bottom:10px;}
.prev-indent {float:left; margin:0 17px 0px 0;}	
.prev-box {float:left; margin-bottom:8px;}
.padding-top {padding-top:10px;}

.border {border:3px solid #000;}

.buttons a:hover {cursor:pointer;}

.list-1 li a,
.list-2 li a,
.link,
.logo {text-decoration:none;}	

/*********************************header*************************************/
header {background:url(../image/header-t.png) 0 100% repeat-x #e7e5e5;position:relative; z-index:3;}
.header {background:url(../image/header00.jpg) 50% 100% no-repeat;min-height:106px}

nav {position:absolute; right:0;top:0; z-index:999;}
div.logo {padding:13px 0 6px 0;margin-bottom:-6px;}
a.logo {display:block; width:221px; height:75px; text-indent:-5000px; background:url(../image/logo.png) 0 0 no-repeat;}
div.logo span { text-transform:uppercase; display:inline-block; margin-left:65px;font-size:11px; margin-top:-6px;}

.slider {
	width:960px;
	margin:0 auto;
	height:400px;
}
.items {
	display:none;
}
.banner {
	width:675px;
	height:501px;
	position:absolute;	
	color:#1e1e1e;
	font-size:13px; line-height:18px;
	background:url(../image/banner00.png) 0 0 no-repeat;
	display:none;
	margin-top:10px;
}
.banner span {padding:34px 135px 20px 254px;display:block;}
.banner span.p1 {padding:0;display:block; text-align:left;}
.b1 {
	right:73px;
	top:-10px;
}

.b1.from {
	right:73px;
	top:75px;
}
.banner strong {font-size:25px;line-height:normal; text-transform:uppercase;letter-spacing:-2px;display:inline-block;text-shadow:0 -1px rgba(0,0,0,0.2), 1px -1px rgba(0,0,0,0.2), 1px 0 rgba(0,0,0,0.2), 1px 1px rgba(0,0,0,0.2), 0 1px rgba(0,0,0,0.2), -1px 1px rgba(0,0,0,0.2), -1px 0 rgba(0,0,0,0.2), -1px -1px rgba(0,0,0,0.2); text-align:right;}
.banner strong.first {margin-left:100px;}
.banner .button { margin-left:10px;}

.prev {background:url(../image/prev.png) 0 0 no-repeat; width:22px;height:29px; position:absolute;z-index:99;bottom:50px;right:147px;}
.next {background:url(../image/next.png) 100% 0 no-repeat; width:22px;height:29px; position:absolute;z-index:99;bottom:50px;right:119px;}

/*********************************content*************************************/
#content {width:100%; padding:48px 0px 15px 0px;background:#fff; z-index:2; }
.relative {position:relative; z-index:100;}

.top {margin-top:-80px;}
.top1 {margin-top:-48px;}
.rose h3, .red h3, .black h3 {padding:60px 0 20px 44px;margin:0;color:#fcfcfc;text-shadow:0 -2px rgba(255,255,255,0.05), 2px -2px rgba(255,255,255,0.05), 2px 0 rgba(255,255,255,0.05), 2px 2px rgba(255,255,255,0.05), 0 2px rgba(255,255,255,0.05), -2px 2px rgba(255,255,255,0.05), -2px 0 rgba(255,255,255,0.05), -2px -2px rgba(255,255,255,0.05);}
.rose {background:#ffb38d;}
.red {background:#ff4942;}
.black {background:#2b2729;}

.tabs .nav {box-shadow:0 0 46px rgba(0,0,0,0.2);-moz-box-shadow:0 0 46px rgba(0,0,0,0.2);-webkit-box-shadow:0 0 46px rgba(0,0,0,0.2);border:1px solid #e3e3e3;font-size:20px;position:relative;}
.tabs .nav2 {font-size:16px;}
.tabs .nav li {background:#fdfdfd;border-bottom:1px dashed #d3d2d2;}
.tabs .nav .selected, .tabs .nav li:hover {background:#2b2729;border-bottom:1px solid #2b2729}
.tabs .nav .last {border:none !important;}
.tabs .nav a {display:block;color:#313131;text-decoration:none;padding:0 0 0 46px;font-weight:bold;line-height:49px;letter-spacing:-1px;}
.tabs .nav .selected a, .tabs .nav a:hover {color:#fff;text-shadow:0 -2px rgba(255,255,255,0.05), 2px -2px rgba(255,255,255,0.05), 2px 0 rgba(255,255,255,0.05), 2px 2px rgba(255,255,255,0.05), 0 2px rgba(255,255,255,0.05), -2px 2px rgba(255,255,255,0.05), -2px 0 rgba(255,255,255,0.05), -2px -2px rgba(255,255,255,0.05);}

.caption {display:block;cursor:pointer;color:#fff;background:url(../image/caption.png) 50% 0 repeat-y #2b2729;text-decoration:none;padding:20px 18px;font-size:14px;}
.caption:hover {background:#ff4942;}
.caption strong {display:block; margin-bottom:8px;}

blockquote {box-shadow:0 0 46px rgba(0,0,0,0.2);-moz-box-shadow:0 0 46px rgba(0,0,0,0.2);-webkit-box-shadow:0 0 46px rgba(0,0,0,0.2);border:1px solid #e3e3e3;position:relative;background:#f6f6f6;}
blockquote .padding {padding:45px 35px 43px 43px;}
blockquote .blockquote {position:absolute;background:url(../image/blockquote.png) 0 0 no-repeat; width:26px;height:23px; bottom:-23px;left:-1px;}

.spacer-1 {width:100%; background:url(../image/pic-1.gif) 217px 0 repeat-y;}
.spacer-2 {width:100%; background:url(../image/pic-1.gif) 460px 0 repeat-y;}

h3 {font-size:35px;letter-spacing:-2px; line-height:40px; margin:0px 0 30px;color:#000066;text-shadow:0 -1px rgba(0,0,0,0.2), 1px -1px rgba(0,0,0,0.2), 1px 0 rgba(0,0,0,0.2), 1px 1px rgba(0,0,0,0.2), 0 1px rgba(0,0,0,0.2), -1px 1px rgba(0,0,0,0.2), -1px 0 rgba(0,0,0,0.2), -1px -1px rgba(0,0,0,0.2);}

.scroll {overflow:auto; height:180px; position:relative;}
.padding-right {padding-right:25px;}

.border-bot {border-bottom:1px dashed #e98e8a;}

.box {width:100%; min-height:295px; height:auto !important; height:295px; background:url(../image/bg-box.png) 0 0 repeat;}
.padding {padding:45px 42px 50px 43px;}
.black .padding, .rose .padding {padding:45px 36px 35px 43px;}
.black p {color:#919191;}

.button {display:inline-block;cursor:pointer;color:#fff; background:url(../image/button00.png) 0 0 no-repeat;font-size:20px;font-weight:bold;width:105px;text-align:center;line-height:85px;height:85px;text-shadow:0 -2px rgba(255,255,255,0.05), 2px -2px rgba(255,255,255,0.05), 2px 0 rgba(255,255,255,0.05), 2px 2px rgba(255,255,255,0.05), 0 2px rgba(255,255,255,0.05), -2px 2px rgba(255,255,255,0.05), -2px 0 rgba(255,255,255,0.05), -2px -2px rgba(255,255,255,0.05);text-decoration:none;letter-spacing:-1px;}
.button:hover {color:#262626;background:url(../image/button-hover.png) 0 0 no-repeat;text-shadow:0 -1px rgba(0,0,0,0.2), 1px -1px rgba(0,0,0,0.2), 1px 0 rgba(0,0,0,0.2), 1px 1px rgba(0,0,0,0.2), 0 1px rgba(0,0,0,0.2), -1px 1px rgba(0,0,0,0.2), -1px 0 rgba(0,0,0,0.2), -1px -1px rgba(0,0,0,0.2);}

.button1 {display:inline-block; font-size:12px; padding-left:9px; color:#fff; background:url(../image/button-left.png) 0 0 no-repeat;}
.button1 span {display:inline-block; cursor:pointer; padding-right:9px; background:url(../image/button-right.png) right 0 no-repeat;}
.button1 span span {padding:2px 3px 3px; background:url(../image/button-tail.png) 0 0 repeat-x;}
.button1 strong {padding:0 0 0 8px; background:url(../image/marker-1.gif) 0 6px no-repeat;}
.button1:hover {color:#24a3ce;}

.list-1 {/*list-style-image:url(../image/list1-ma.gif);*/ list-style-type:none; padding-left:1px; }
.list-1 li {font-size:14px; padding-bottom:8px;margin-bottom:9px; border-bottom:1px dashed #d3d2d2; clear: both;}
.list-1 li a {color:#1e1e1e;}
.list-1 li a:hover {color:#ff4942;}
.list-1 .last-item {border-bottom:none;}

.list-2 {list-style-type:none; padding-left:10px; }
.list-2 li {font-size:14px; padding-bottom:8px;margin-bottom:9px;border-bottom:1px dashed #6e6b6d;vertical-align:top;}
.list-2 li a {color:#fff;}
.list-2 li a:hover {color:#ff4942}
.list-2 .last-item {border-bottom:none;}
.rose .list-2 li {border-bottom:1px dashed #ffd9c6;}

.list-3 {list-style:decimal-leading-zero;}
.list-3 li {font-size:12px; line-height:16px; color:#fff; padding-bottom:12px; margin-left:25px; list-style-type:decimal-leading-zero;}
.list-3 li a {color:#eda202;}
.list-3 li a:hover {color:#24a3ce;}

.link {color:#fff;font-size:20px;text-shadow:0 -2px rgba(255,255,255,0.05), 2px -2px rgba(255,255,255,0.05), 2px 0 rgba(255,255,255,0.05), 2px 2px rgba(255,255,255,0.05), 0 2px rgba(255,255,255,0.05), -2px 2px rgba(255,255,255,0.05), -2px 0 rgba(255,255,255,0.05), -2px -2px rgba(255,255,255,0.05);text-decoration:none;letter-spacing:-1px;font-weight:bold;}
.link:hover {color:#262626;text-shadow:0 -1px rgba(0,0,0,0.2), 1px -1px rgba(0,0,0,0.2), 1px 0 rgba(0,0,0,0.2), 1px 1px rgba(0,0,0,0.2), 0 1px rgba(0,0,0,0.2), -1px 1px rgba(0,0,0,0.2), -1px 0 rgba(0,0,0,0.2), -1px -1px rgba(0,0,0,0.2);} 

.link-1 {text-decoration:none; font-weight:bold;color:#000;}
.link-1:hover {color:#ff4942;} 

.link-2:hover  {color:#ff4942;}
.link-2 {color:#262626;font-size:20px;margin-left:40px; text-shadow:0 -1px rgba(0,0,0,0.2), 1px -1px rgba(0,0,0,0.2), 1px 0 rgba(0,0,0,0.2), 1px 1px rgba(0,0,0,0.2), 0 1px rgba(0,0,0,0.2), -1px 1px rgba(0,0,0,0.2), -1px 0 rgba(0,0,0,0.2), -1px -1px rgba(0,0,0,0.2);text-decoration:none;letter-spacing:-1px;font-weight:bold;} 

.text-1 {font-size:14px;} 
.text-2 {font-size:14px; line-height:1.285em;}  
.text-3 {font-size:11px; line-height:1.272em;}  

dl span {float:left; width:73px;}
dl {color:#919191;}
dl a {font-weight:bold;color:#fff; text-decoration:none;}
dl a:hover {color:#ff4942;}

#map_canvas { width:100%; height:229px;}

input, textarea {font-size:.8em;color:#1e1e1e;font-family:Helvetica, sans-serif;}

/* Contact form */
#contact-form {
	overflow:hidden;
	position:relative;
	vertical-align:top;
	width:250px;
	}
	#contact-form fieldset {
		border:none;
		padding:0;
		}
		#contact-form .field {
			min-height:45px;
			}
			#contact-form input[type=text] {
				width:224px;
				height:34px;
				padding:0px 12px; margin:0;
				background:#fff;
				border:1px solid #ececec;
				border-top:1px solid #a1a1a1;
				border-left:1px solid #a1a1a1;
				line-height:34px;
				}
			#contact-form.main-contacts .field input {
				margin-top:0px;
				}
			#contact-form .area {min-height:220px;}
			#contact-form textarea {
				width:224px;
				height:184px;
				background:#fff;
				border:1px solid #ececec;
				border-top:1px solid #a1a1a1;
				border-left:1px solid #a1a1a1;
				padding:10px 12px; margin:0;
				overflow:auto;
				display:block;
				line-height:1.2em;
				}
				#contact-form a {
					cursor:pointer;
					}
			#contact-form label {
				color:#F00;
				overflow:hidden;
				}
			#contact-form strong {
				padding:0 0 2px 9px;
				display:inline-block;
				color:#838383;
				}
				#contact-form .error {
					color:red;
					line-height:normal;
					display:none;
				}
		.buttons-wrapper { text-align:right;}
		.buttons-wrapper a { margin-left:7px;}

/****************************footer************************/
footer {width:100%; padding:42px 0 46px;}
footer .main {font-size:11px;color:#fff;text-transform:uppercase;overflow:hidden; z-index:1;}
footer strong {color:#ff4942;}
footer a {color:#fff;}
footer a:hover {color:#ff4942;}
.footer-links { float:right;overflow:hidden; list-style-type:none;}
.footer-links li { float:left;border-left:1px solid #fff; margin-left:6px; padding-left:9px;}
.footer-links li.first { border:none;}
.footer-links li a {text-decoration:none;}

/****************************Addition classes************************/
.headerbg{
/*background: #FF4942 url(../image/tbl_th.png) repeat-x;*/
background-color: #FF4942; 
padding: 3px; 
border: 1px #FFB38D solid; 
font-weight:bold;
color:#FFFFFF;
}

.FormRowTitle{
background-color: #FF4942; 
padding: 3px; 
border: 1px #FFB38D solid; 
font-weight:bold;
color:#FFFFFF;
}
.FormRowButton{
text-align:right;
}
.DataGrid_DataCell{
font-size:12px;
}
.FormRowField{
	width:200px;
}
.FormInputReadOnly{ 
 border: #808080 1px solid; 
 color: #ACA899;
}

.pagination{
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #C40837;
	font-weight: bold;
	background-color: #fff;
	color: #000;
	font-size:10px;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
}

.paginationActive{
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #000;
	font-weight: bold;
	background-color: #C40837;
	color: #FFF;
	font-size:10px;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
}

input text{
	font-size:12px;
}

.FormInputButton { 
	font-size:12px;
	padding: 5px 10px;
     display: inline;
     background: #FF4942 url(../image/button.png) repeat-x bottom;
     border: none;
     color: #fff;
     cursor: pointer;
     font-weight: bold;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     text-shadow: 1px 1px #666;
     }
}
#passwordDescription {
	color:#FF3300;
	font-size:11px;
}
	
.FormInputButton:hover { /* the redundant class is used to apply the hover state with a script */
	background-position: 0 center; 
}
span.title{
	color:#C40837;
	font-weight:normal;
	font-size:12px;
}
#testdiv {width:600px; margin:0 auto; border:1px solid #ccc; padding:20px 25px; background:#fff}

#tinybox {position:absolute; display:none; padding:10px; background:#fff url(../image/preload.gif) no-repeat 50% 50%; border:10px solid #e3e3e3; z-index:2000}
#tinymask {position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000; z-index:1500}
#tinycontent {background:#fff}

#formValidate label {  }
#formValidate label.error {color: #FF0000; font-size:11px; }

#passwordStrength
{
	height:10px;
	display:block;
	float:left;
}

#passwordStrength2
{
	height:10px;
	display:block;
	float:left;
}

.strength0
{
	width:250px;
	background:#cccccc;
}

.strength1
{
	width:50px;
	background:#ff0000;
}

.strength2
{
	width:100px;	
	background:#ff5f5f;
}

.strength3
{
	width:150px;
	background:#56e500;
}

.strength4
{
	background:#4dcd00;
	width:200px;
}

.strength5
{
	background:#399800;
	width:250px;
}
