/* Getting the new tags to behave */

article, aside, audio,

canvas, command,

datalist, details,

embed,

figcaption, figure, footer,

header, hgroup,

keygen,

meter,

nav,

output,

progress,

section, source,

video {

	display:block;

}

mark,

rp, rt, ruby,

summary,

time {

	display:inline;

}



/* Global properties ======================================================== */

body {

	background:#0e5528;

	font-family: Verdana, Geneva, sans-serif;

	font-size:100%;

	line-height:1em;

	color:#fff;

}

html {

	min-width:983px;

}

html,

body {

	height:100%;

}



.title{

	font-size:0.857em;

}

.error {

	font-size:0.9em;

}

.FormRowField{

	width:190px;

}

input.typeText,input[type=text],input[type=password], textarea{

 	background:#166783;

    border: 1px solid #46A996;

    color: #58C4EC;

    float: left;

    font-size: 12px;

    margin: 0;

    padding: 3px 0 3px 5px;

    vertical-align: middle;	

}



.headerbg, .FormRowTitle{

	font-size:1.571em;

	line-height:1.2em;

	color:#f2ec8c;

	margin-bottom:18px;

	font-weight:700;	

}



/* Global Structure ============================================================= */

.container {

	margin:0 auto;

	width:983px;

	font-size:.875em;

	overflow:inherit;

}



	/* Header */

	header{

		background-color:#0a6587;

	}





	/* Footer */

	footer {

		background-color:#0e5528;

		color:#64ef8f;

		padding:20px 0 25px 0;

	}


#panel span {
	font-family: Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FF0;
}






/* Left & Right alignment */



.fleft {

	float:left;

}

.fright {

	float:right;

}

.clear {

	clear:both;

}



.col-1,

.col-2,

.col-3,

.col-4 {

	float:left;

}



.alignright {

	text-align:right;

}

.aligncenter {

	text-align:center;

}



.wrapper {

	width:100%;

	overflow:hidden;

}



.wrap {

	width:100%;

}







/*----- form defaults -----*/

input,

select,

textarea {

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:1em;

	vertical-align:middle;

	font-weight:normal;

}



select {

	background:#166783;

    border: 1px solid #46A996;

    color: #58C4EC;

    font-size: 12px;

    margin: 0;

    padding: 3px 0 3px 5px;

    vertical-align: middle;	

	

}



/*----- lists -----*/



.list {

	padding-bottom:10px;

}

	.list li {

		font-weight:bold;

		font-size:.786em;

		padding:0 0 2px 13px;

		background:url(../image/marker00.gif) no-repeat left 4px;

	}

	.list li.last {

		margin-bottom:-12px;

	}

		.list li a {

			color:#07506a;

		}



.list1 li {

	padding:0 0 4px 14px;

	background-repeat:no-repeat;

	background-position:0 5px;

	background-image:url(../image/arrow200.gif);

	font-size:.857em;

}

.list1 li.alt,

.list1.extra li.alt {

	color:#fff;

	padding:0 0 8px 0;

	background-image:none;

}

.list1.extra li {

	background-image:url(../image/arrow300.gif);

}

	.list1 li a {

		color:#2ddeea;

	}

	.list1.extra li a {

		color:#64ef8f;

	}



.list2 {

	margin-top:-30px;

}

	.list2 li {

		width:100%;

		overflow:hidden;

		vertical-align:top;

		line-height:1.143em;

		padding-top:30px;

	}

		.list2 li img {

			float:left;

			margin-right:20px;

		}



/*----- other -----*/

.img-indent {

	margin-bottom:15px;

}

.img-indent1 {

	float:left;

	margin-right:20px;

}



.img-box {

	width:100%;

	overflow:hidden;

	padding-bottom:20px;

	line-height:1.143em;

}

	.img-box img {

		float:left;

		margin:0 20px 0 0;

	}



.extra-wrap {

	overflow:hidden;

}



p {

	line-height:1.3em;

	font-size:0.9em;

}

.p0 {

	margin:0;

}

.p1 {

	margin-bottom:25px;

}



dl {

	line-height:1.143em;

}

	dl dt {

		font-weight:bold;

		font-style:italic;

	}

	dl dd {

		padding-bottom:25px;

	}



.address span {

	float:left;

	width:87px;

}

.address a {

	color:#07506a;

}



#passwordStrength

{

	height:10px;

	display:block;

	float:left;

	font-size:7px;

}



#passwordStrength2

{

	height:10px;

	display:block;

	float:left;

	font-size:7px;

}



.strength0

{

	width:250px;

	background:#cccccc;

}



.strength1

{

	width:50px;

	background:#0F556F;

}



.strength2

{

	width:100px;	

	background:#E4DD85;

}



.strength3

{

	width:150px;

	background:#56e500;

}



.strength4

{

	background:#4dcd00;

	width:200px;

}



.strength5

{

	background:#CF0;

	width:250px;

}







/*----- txt, links, lines, titles -----*/

a {

	color:#fff;

	outline:none;

}

a:hover {

	text-decoration:none;

}



.tree a {

	color:#FF0000;

	text-decoration:none;

	font-size:1.1em;

}



.tree a:hover {

	color:#F27226;

}



h1 {

	text-indent:-9999px;

	position:relative;

	left:297px;

	top:26px;

}

	h1 a {

		float:left;

		display:block;

		width:425px;

		height:97px;

		background:url(../image/logo.png) no-repeat left top;

	}

h2 {

	font-size:1.571em;

	line-height:1.2em;

	color:#f2ec8c;

	margin-bottom:18px;

}

h2.extra {

	font-size:1.714em;

	color:#53e9ff;

	margin-top:-3px;

}

h5 {

	font-size:1em;

	line-height:1.143em;

	color:#fff;

	font-style:italic;

	margin-bottom:13px;

}



.txt1 {

	color:#055b29;

	font-style:italic;

	font-weight:bold;

}



.link1 {

	display:inline-block;

	font-size:.857em;

	background:url(../image/link1-ri.png) no-repeat right top;

	color:#e4de85;

	font-style:italic;

	text-decoration:none;

	cursor:pointer;

}

	.link1 span {

		display:inline-block;

		padding:0 13px 0 5px;

		height:23px;

		overflow:hidden;

		background:url(../image/link1-le.png) no-repeat left top;

	}

	.link1:hover span {

		text-decoration:underline;

	}

	.link1 b {

		background:#1f7844;

		display:block;

		padding:3px 5px 4px 15px;

	}



.link2 {

	display:inline-block;

	font-size:.857em;

	background:url(../image/http://images.osc4.template-help.com/wt_30025/images/link2-right.png) no-repeat right top;

	color:#1f7844;

	font-style:italic;

	text-decoration:none;

	cursor:pointer;

}

	.link2 span {

		display:inline-block;

		padding:0 13px 0 5px;

		height:23px;

		overflow:hidden;

		background:url(../image/http://images.osc4.template-help.com/wt_30025/images/link2-left.png) no-repeat left top;

	}

	.link2:hover span {

		text-decoration:underline;

	}

	.link2 b {

		background:#e4de85;

		display:block;

		padding:3px 5px 4px 15px;

	}







/*===== header =====*/



header .container {

	background:url(../image/header-b.jpg) no-repeat left top;

	height:61px;



}

header nav {

	float:right;

	padding-top:27px;

}

	header nav ul li {

		float:left;

		font-weight:bold;

		font-size:.786em;

	}

		header nav ul li a {

			color:#e4de85;

			display:block;

			text-decoration:none;

		}

			header nav ul li a span {

				display:block;

				padding:4px 26px 4px 26px;

			}

		header nav ul li a:hover,

		header nav ul li a.active {

			background:url(../image/nav-act-.gif) no-repeat left top #0f556f;

		}

			header nav ul li a:hover span,

			header nav ul li a.active span {

				background:url(../image/nav-act0.gif) no-repeat right top;

			}

			

			header nav ul li ul{

				position: absolute;

				display: none;

			}

				

			

				/*Sub level menu list items (undo style from Top level List Items)*/

				header nav ul li ul li{

					display: list-item;

					float: none;

					text-align:left;

					font-size:1em;

					position:relative;

					background:url(../image/dot.png) repeat;

					z-index:9999;

					

				}

				

				header nav ul li ul li a {

					color:#fff;

				}

				

				header nav ul li ul li a:hover {

					color:#E4DD85;

					background:none;

					z-index:9999;

				}

				

				header nav ul li ul li a:hover span{

					background:none;

					z-index:9999;

				}

					

					header nav ul li:hover ul, header nav ul li:hover ul{

						display: block;

					}

			



/*===== content =====*/

#content .indent {

	padding-bottom:15px;

}

#content .row-1 {

	background:url(../image/tail-con.jpg) repeat-x center top #2a7572;

}

	#content .row-1 .container {

		background:url(../image/cont-bg0.jpg) no-repeat left top;

	}

		#content .row-1 .container .inside {

			padding:166px 0 40px 0;

		}

#content .row-2 {

	background-color:#1f7844;

}

	#content .row-2 .inside {

		padding:33px 0 35px 0;

	}

#content .row-3 {

	background-color:#086430;

	width:100%;

}

	#content .row-3 .inside {

		padding:33px 0 35px 0;

	}



/*===== footer =====*/

footer .col-1 {
	width:398px;
	font-size:12px;
}

	footer .col-1 span {

		color:#fff;

	}

	footer .col-1 a {

		color:#64ef8f;

		text-decoration:none;

	}

	footer .col-1 a:hover {

		text-decoration:underline;

	}

footer .col-2 {

	width:278px;

}

footer .col-3 {

	width:203px;

}

footer .col-2 a,

footer .col-3 a {

	color:#2ddeea;

	font-size:.857em;

	line-height:1.667em;

}





/*----- forms -----*/



#booking-form label {

	font-size:.857em;

	color:#fff;

	float:left;

	width:75px;

	padding-top:3px;

	margin-right:7px;

	text-align:right;

}

	#booking-form label.extra {

		display:block;

		float:none;

		padding:0 0 5px 9px;

		text-align:left;

	}

#booking-form .rowElem {

	height:31px;

}

#booking-form .rowElem1 {

	height:78px;

}



/* select 1 */

#booking-form .style1 .jqTransformSelectWrapper {

	width:71px !important;

	background:url(../image/select_l.gif) no-repeat left top;

}

#booking-form .style1 .jqTransformSelectWrapper ul {

	width:69px !important;

}

/* select 2 */

#booking-form .style2 .jqTransformSelectWrapper {

	width:51px !important;

	margin:0 6px;

	background:url(../image/select_m.gif) no-repeat left top;

}

#booking-form .style2 .jqTransformSelectWrapper ul {

	width:49px !important;

}

/* select 3 */

#booking-form .style3 .jqTransformSelectWrapper {

	width:128px !important;

	background:url(../image/select_n.gif) no-repeat left top;

}

#booking-form .style3 .jqTransformSelectWrapper ul {

	width:126px !important;

}

/* select 4 */

#booking-form .style4 {

	float:left;

	width:93px;

	margin-right:4px;

}

#booking-form .style4.extra {

	margin-right:0;

}

	#booking-form .style4 label.extra {

		padding:0;

		margin:0;

		width:auto;

	}

	#booking-form .style4 .jqTransformSelectWrapper {

		width:92px !important;

		background:url(../image/select_n.gif) no-repeat left top;

	}

	#booking-form .style4 .jqTransformSelectWrapper ul {

		width:90px !important;

	}

	#booking-form a.search {

		display:inline-block;

		color:#0f556f;

		font-size:1.143em;

		text-decoration:none;

		background:url(../image/button-l.png) no-repeat left top;

		cursor:pointer;

	}

		#booking-form a.search span {

			display:inline-block;

			padding: 0 7px 0 5px;

			background:url(../image/button-r.png) no-repeat right top;

		}

		#booking-form a.search b {

			display:inline-block;

			padding:3px 10px 6px 10px;

			background:url(../image/button-t.png) repeat-x left top;

		}

			#booking-form a.search:hover b {

				text-decoration:underline;

			}

	#booking-form a.opt {

		float:left;

		font-size:.857em;

		line-height:2em;

		font-weight:bold;

		color:#07506a;

		padding-right:13px;

		background:url(../image/arrow000.png) no-repeat right 6px;

	}



/*---*/



#contacts-form .rowElem {

	height:45px;

}

#contacts-form fieldset {

	float:left;

}

#contacts-form fieldset.field_1 {

	width:320px;

}

#contacts-form fieldset.field_2 {

	width:291px;

}

#contacts-form label {

	display:block;

	padding-bottom:2px;

}

#contacts-form input {

	width:264px;

	padding:1px 0 1px 3px;

	background:#fff;

	color:#000;

	border:1px solid #72c98e;

	vertical-align:top;

	line-height:1.2em;

}

#contacts-form textarea {

	width:286px;

	height:106px;

	overflow:auto;

	background:#fff;

	color:#000;

	border:1px solid #72c98e;

	padding:1px 0 1px 3px;

	margin-bottom:17px;

}

.advert ul{
	width:100%;	
}

.advert ul li{
	width:150px;
	display:inline;
	float:left;
	text-align:center;
}



/*==========================================*/



/* -------------

 * Inputs

 * ------------- */

.jqTransformInputWrapper {

	background: transparent url(../image/input_te.gif) no-repeat left top;

	height: 24px;

	padding: 0px;

	float:left;

	width:205px !important;

}



.jqTransformInputInner {

	background:url(../image/input_tf.gif) no-repeat right top;

	padding: 0px;

	margin: 0px;

}



.jqTransformInputInner div {

	height: 24px;

	margin:0px 0px 0px 0;

	overflow:hidden;

}



.jqTransformInputInner div input {

	font-size:12px;

	vertical-align: middle;

	color:#58c4ec;

	border: none;

	padding: 3px 0px 3px 5px;

	margin: 0px;

	background:transparent;

	float:left;

	width:189px;

}



/*  IE6 */

* html .jqTransformInputWrapper {

	width:204px !important;

}

* html .jqTransformInputInner div input {

	padding: 3px 0 0 0;

	margin: 0 -27px 0 0;

}

/* Ie7 */

*+ html .jqTransformInputInner div input {

	padding: 3px 0 0 0;

	margin-left:5px;

}





.jqTransformSafari .jqTransformInputInner div {

	position: relative;

	overflow: hidden;

	margin:0px 8px;

}

.jqTransformSafari .jqTransformInputInner div input {

	position: absolute;

	top: -10px;

	left: -2px;

	height: 42px;

}





/* -------------

 * Selects

 * ------------- */

.jqTransformSelectWrapper {

	width:205px !important;

	position:relative;

	height: 24px;

	background: url(../image/select_n.gif) no-repeat top left;

	float:left;

	color:#58c4ec;

}



.jqTransformSelectWrapper div span {



	font-size: 12px;

	float: none;

	position: absolute;

	white-space: nowrap;

	height: 24px;

	line-height: 15px;

	padding: 4px 0 0 5px;

	overflow: hidden;

	cursor:pointer;

	/*border: 1px solid #CCCCCC;*/

	/*	border-right: none;*/

}



.jqTransformSelectWrapper  a.jqTransformSelectOpen {

	display: block;

	position: absolute;

	right: 0px;

	width: 23px;

	height: 24px;

	background: url(../image/select_r.gif) no-repeat center center;

}



.jqTransformSelectWrapper ul {

	position: absolute;

	width: 43px;

	top: 25px;

	left: 0px;

	list-style: none;

	background-color: #FFF;

	border: solid 1px #46a996;

	display: none;

	margin: 0px;

	padding: 0px;

	overflow: auto;

	z-index:10;

	width:203px !important;

}



.jqTransformSelectWrapper ul a {

	display: block;

	padding: 2px 3px;

	text-decoration: none;

	color:#58c4ec;

	background-color: #166783;

	font-size: 12px;

}



.jqTransformSelectWrapper ul a.selected {

	background: #bce7cf;

	color: #000;

}



.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {

	background:#4db07a;

	color: #fff;

}



/* -------------

 * Hidden - used to hide the original form elements

 * ------------- */

.jqTransformHidden {display: none;}



/*--- carousel ---*/

.carousel-box {

	position:relative;

	width:983px;

	padding:29px 0 22px 0;

}

	.carousel-box .prev {

		position:absolute;

		left:0;

		top:86px;

	}

	.carousel-box .next {

		position:absolute;

		right:0;

		top:86px;

	}

	.carousel-box .carousel {

		width:983px;

		margin-left:22px;

	}

	.carousel-box ul {

		width:100%;

		overflow:hidden;

	}

		.carousel-box ul li {

			float:left;

			margin-right:7px;

			font-size:.857em;

			line-height:1.583em;

		}

			.carousel-box ul li a {

				width:229px;

				height:186px;

				float:left;

				color:#64ef8f;

				display:block;

				background-repeat:no-repeat;

				background-position:0 0;

				text-decoration:none;

			}

				.carousel-box ul li a span {

					display:block;

					padding:8px 0 0 8px;

				}

					.carousel-box ul li a span span {

						padding:10px 0 0 20px;

						background:url(../image/arrow100.gif) no-repeat left 16px;

					}

				.carousel-box ul li a strong {

					color:#fff;

					text-decoration:underline;

				}

				.carousel-box ul li a em {

					font-style:normal;

					color:#e4de85;

				}

			.carousel-box ul li a:hover {

				background-image:url(../image/banner-a.gif);

			}



