@charset "utf-8";
/* CSS Document */

body{ 
	background-color:#FFFFCC; 	
	background: url(../image/gray_bg.jpg) top center repeat-x;
	text-align:left; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	color:#666666; 
	margin:0px;
}

/*wrapper_content_title*/
.content-indent-title{ padding:0 34px 0 20px;}

.content-wrapper-title .border-top {background:url(../image/border4_top.gif) repeat-x top #E6E7E8;}
.content-wrapper-title .border-bottom {background:url(../image/border4_bottom.gif) repeat-x bottom;}
.content-wrapper-title .border-left {background:url(../image/border4_left.gif) repeat-y left;}
.content-wrapper-title .border-right {background:url(../image/border4_right.gif) repeat-y right;}
.content-wrapper-title .corner-top-left {background:url(../image/corner4_top_left.gif) no-repeat left top;}
.content-wrapper-title .corner-top-right {background:url(../image/corner4_top_right.gif) no-repeat right top;}
.content-wrapper-title .corner-bottom-left {background:url(../image/corner4_bottom_left.gif) no-repeat left bottom;}
.content-wrapper-title .corner-bottom-right {background:url(../image/corner4_bottom_right.gif) no-repeat right bottom; padding-bottom:14px;}
/**/

#wrapper{ 
width:950px; overflow:hidden; background-color:#ffffff;
}
#header{width:950px; float:left;}

#length{
width:950px; overflow:hidden;
height:400px;
min-height:400px;
height:auto !important;

}

.menu{width:950px; float:left; background-color:#000000; height:30px;}
.m-left{ width:13px; height:41px; float:left; background:url(../image/m-left.jpg) no-repeat;}
.m-mid{ width:950px; height:32px; float:left; background-color: #172322; }
.m-right{width:13px; height:41px; float:left; background:url(../image/m-right.jpg) no-repeat;}

#middle{width:950px; float:left; padding:5px 0 5px 0;}
#sign{ width:234px; height:207px; background:url(../image/sign-bg.jpg) no-repeat; float:left;}
#banner{ width:710px; height:207px; float:right;}
#thum-link{width:950px; float:left; padding:5px 0 5px 0;}
#link-box{ width:233px; height:133px; background:url(../image/linkbg1.gif) no-repeat;}
#cont{width:950px; float:left; padding:5px 0 5px 0;}
#left-cont{ width:717px;}
#right-cont{ width:233px;}

#footer{width:950px; float:left; height:30px; background-color:#666666; text-align:right; color:#FFFFFF;}

.style1 {color: #FF9900}
#cu3er-container {
visibility:visible;

}