.WindowTable{background-color: silver;}
.WindowRowTop{background-color: Red;height: 20px;background-image: url('../image/window/window_rowtop.gif');}
.WindowTitle{font-size: 14px;font-weight: bold;color: Navy;vertical-align: middle;}
.WindowRowMiddleCellLeft{background-color: Green;width: 4px;background-image: url('../image/window/window_rowmiddlecellleft.gif');}
.WindowRowMiddleCellCenter{padding: 5px;background-color: Silver;background-image: url('../image/window/window_rowmiddlecellcenter.gif');}
.WindowContent{color: Black;font-size: 12px;}
.WindowRowMiddleCellRight{background-color: Green;width: 4px;background-image: url('../image/window/window_rowmiddlecellright.gif');}
.WindowRowBottom{background-color: Red;height: 4px;background-image: url('../image/window/window_rowbottom.gif');}
.WindowRowBottomCellLeft{background-image: url('../image/window/window_rowbottomcellleft.gif');}
.WindowRowBottomCellRight{background-image: url('../image/window/window_rowbottomcellright.gif');}